<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>嘉兴</title>
    <link rel="stylesheet" type="text/css" href="/view/home2017/event.css">
</head>
<body>
<script type="text/javascript" src="/mudule/js/flexible.js"></script>
    <div id="index">
        <img src="/mudule/image/year/chuxin/chuxinWord2.png" class="word nanHu">
        <img src="/mudule/image/year/chuxin/chuxin2.jpg" class="image">
        <a href="home2017.html" id="pageBack"></a>
    </div>
</body>
</html>